---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-40">
    <div class="container">
      <h2 class="mb-16 text-6xl">My Projects</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-1 lg:grid-cols-2">
        <Feature title="Uyana TIC'S" url='/Uyana-cap.png'>
          E-commerce Website for selling computers and electronics. Ensured smooth navigation and secure payments for an optimal user experience.
        </Feature>
        <Feature title="React Components" url="/Tetris-cap.png">
          React code-sharing platform inspired by Twitter, allowing users to upload and share code snippets. Enabled social interactions and collaboration within the coding community.
        </Feature>
        <Feature  title="Tetris" url="/Tetris-cap.png">
          Classic Tetris game with essential functionalities. Players can rotate and manipulate falling blocks to complete lines and score points. Offers an addictive gaming experience reminiscent of the iconic original.
        </Feature>
        <Feature  title="Speech-Text" url='/Uyana-cap.png'>
          Integrated a voice-to-text component into a landing page, designed for easy installation via npm. Users can effortlessly convert spoken words into text.
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Skills</h2>
      <div class="feature grid grid-cols-1">
          <section class="skills-section grid grid-cols-2 items-center">
            <div class="flex items-center justify-center my-4">
              <img src="/src/assets/img/astro-icon.svg" alt="Astro Logo" class="w-10 h-10 mr-4">
              <div class="w-48 bg-gray-300 rounded-full">
                <div class="h-6 bg-blue-500 rounded-full" style="width: 70%;"></div>
              </div>
            </div>
            <div class="flex items-center justify-center my-4">
              <img src="/src/assets/img/next-icon.svg" alt="Astro Logo" class="w-10 h-10 mr-4">
              <div class="w-48 bg-gray-300 rounded-full">
                <div class="h-6 bg-blue-500 rounded-full" style="width: 50%;"></div>
              </div>
            </div>
          </section>
      </div>
    </div>
  </section>
  <section class="my-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .feature {
    position: relative;
    width: calc(100% - 0.5rem);
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 3px solid var(--neutral-700);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1rem -0.85rem -0.85rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }
  }

  :global(.feature [data-icon]) {
    height: auto;
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
